<% if @hacker.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@hacker.errors.count, "error") %> prohibited this hacker from being saved:</h2>

    <ul>
    <% @hacker.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :name, :class => 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  
</div>
<%=f.error_span(:name) %>
<div class="form-group">
  <%= f.label :email, :class => 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= f.text_field :email, :class => 'form-control' %>
  </div>
  
</div>
<%=f.error_span(:email) %>

<div class="form-group">
  <%= f.label :generation_id, :class => 'control-label col-lg-2' %>
  <div class="col-lg-10 select-form-control">
    <%= f.select :generation_id, Generation.all.map{|generation| [generation.name, generation.id] }, :class => 'form-control' %>
  </div>
  
</div>
<%=f.error_span(:generation_id) %>
