<div class="page-header">
    <h1><%= @course.name %></h1>
</div>

<dl class="dl-horizontal">
    <dt><strong>Nombre:</strong></dt>
    <dd><%= @course.name %></dd>
    <dt><strong>Generation:</strong></dt>
    <dd><%= @course.generation.name %></dd>
    <dt><strong>Creado en:</strong></dt>
    <dd><%= @course.created_at.strftime("%d/%B/%Y %H:%M") %></dd>
    <dt><strong>Actualizado en:</strong></dt>
    <dd><%= @course.updated_at.strftime("%d/%B/%Y %H:%M") %></dd>
</dl>


<%= link_to t('.back', :default => t("helpers.links.back")), generation_courses_path(@generation), :class => 'btn btn-default'  %>

<%= link_to t('.edit', :default => t("helpers.links.edit")), edit_generation_course_path(@generation, @course), :class => 'btn btn-default' %>

<%= link_to t('.destroy', :default => t("helpers.links.destroy")), generation_course_path(@generation, @course), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' %>